/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 nov. 2016, 10:36:36
    Author     : CAMUGLIAL_INFO
*/

body{
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: #2266dd;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 100%;
}

#gameBoard{
    margin-left: 1%;
    width: 62.5%;
    height: 600px;
    max-height: 100%;
    border: solid black 1px;
    display: inline;
    float: left;
}

.center{
    text-align: center;
}

.LifeUpZone ul, .LifeUpZone ul li, .tacosZone ul, .tacosZone ul li,.bulletZone ul, .bulletZone ul li{
    float: left;
    display: inline;
    list-style-type: none;
    margin-left: 2px;

}

.tacosZone ul li img{
    width: 52px;
    //height: auto;
}

.InfoZone{
    float: left;
    width: 17%;
}
